A pandas series is very similar to a numpy array, except for the addition of a named index.

We can use this named index to grab data from the array.

In [1]:
import numpy as np
import pandas as pd

In [11]:
labels = ['a', 'b', 'c']

mylist = [10,20,30]

arr = np.array([10,20,30])

d = {'a':10,'b': 20, 'c':30}

In [12]:
pd.Series(data=mylist, index=labels)

a    10
b    20
c    30
dtype: int64

Series has default index, unless you specify a label to it. You have two ways of grabbing an index, either the default index or the new index

In [13]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(d) #can transform into series using 'd'

a    10
b    20
c    30
dtype: int64

In [18]:
salesQ1 = pd.Series(data=[250,450,200,150], index=['USA', 'China', 'India', 'Brazil'])

In [19]:
salesQ1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [28]:
salesQ2 = pd.Series(data=[260,500,210,100], index=['USA', 'China', 'India', 'Japan'])

In [29]:
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [31]:
salesQ2['China'] #if you have a label of the same name, it will print the result of all the labels with the name

500

Capitalization counts!

You can perform operations between series!!

In [33]:
salesQ1 + salesQ2 #if you're adding two series that don't match, the operation will still go through--if you see NaN, it's basically saying "Brazil" was not found in both series..

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64